#root {
  /* max-width: 1280px; */
  height: 100vh !important;
  margin: 0;
  text-align: center;
}


/* color theme
// rgb(4, 20, 33)
// rgb(4, 38, 48)
// rgb(76, 114, 115)
// rgb(134, 185, 176)
// rgb(208, 214, 214) */


body {
    /* background-color: rgb(4, 38, 48); */
    /* background-image: radial-gradient(circle, rgb(4, 38, 48), rgb(2, 23, 30), rgb(0, 6, 8)); */
      background-color: rgb(0, 1, 17) !important;
  }

  .container {
    margin: 0%;
    padding: 0%;
  }

  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }