* {
    color: white;
}

.checkout-page .container {
    border: 2px solid green;
    width: 90vw;
    display: flex;
    justify-content: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.left-col {
    border: 2px solid yellow;
    width: 65%;
    padding: 3%;
}

.right-col {
    border: 2px solid white;
}