#productlist-comp {
    height: 100%;
}

.btn {
    background-color: rgb(93, 95, 190);
    border: none;
    font-family: "Viaoda Libre", serif;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(68, 70, 143);
}

.product-box-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 100%;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    margin: 3% 0;
}

.product-box h3, .product-box p  {
    font-family: "Viaoda Libre", serif;
    font-size: 25px;
}

.product-img {
    /* background-image: url(../../../public/img-background.png); */
    /* background-repeat: no-repeat;
    background-size: 100%;
    width: 60%;
    height: 230px; */
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.product-img img {
    width: 60%;
    /* margin-top: 28%; */
}

#productlist-comp .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#return-btn {
    margin-top: 4%;
    font-family: "Viaoda Libre", serif;
    font-size: 25px;
    background-color: rgb(29, 32, 120);
    margin-bottom: 4%;
}

@media (max-width: 768px) {
    #productlist-comp .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-box {
        width: 70%;
    }
}

/* @media (max-width: 992px) {
    .product-img {
        height: 120px;
    }
}

@media (max-width: 768px) {
    #productlist-comp .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-box {
        width: 90%;
        margin: 3% 0;
    }

    .product-img {
        width: 90%;
        height: 300px;
    }
}

@media (max-width: 365px) {
    .product-img {
        height: 265px;
    }

    .product-box-link {
        width: 95%;
    }

    .product-box-link {
        margin-top: 7%;
    }
} */