.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-button {
  width: 40%;
  background-color: rgb(14, 0, 43);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 10%;
  /* margin: 80% 0; */
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.shop-button:hover {
  background-color: #eee;
}

.col-sm-8 p {
  font-size: 25px;
    line-height: 1.8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#banner-box {
  width: 100%;
  height: 100vh;
  background-image: url(../../../public/name_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#banner-box span {
  overflow: hidden !important;
}

#tagline {
  margin-top: 40%;
  font-size: 60px;
  font-family: "Viaoda Libre", serif;
  color: white;
}

#border {
  width: 100%;
}

#features {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6%;
}

@media (max-width: 1000px) {
  #banner-box {
    height: 70vh;
  }

   .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}