.detail-page {
    overflow-x: hidden;
}

.detail-page h2 {
    font-family: "Viaoda Libre", serif;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.detail-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2%;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 570px;
}

.carousel-inner {
    background-image: url(../../../public/img-background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 90%;
    width: 80%;
    height: 100%;
}

.carousel-box {
    width: 65%;
    height: 65%;
}

.carousel-item {
    margin-top: 27%;
    margin-left: 16.5%;
    width: 65%;
    height: 200px;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
}

.detail-right {
    width: 20%;
    margin: 2%;
}