.detail-page {
    overflow-x: hidden;
}

.detail-page h2 {
    font-family: "Viaoda Libre", serif;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.detail-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 2%;
}

.detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 2%;
}

.description-box {
    margin-bottom: 15%;
    line-height: 1.6;
}

.detail-right button {
    margin-top: 5%;
    width: 50%
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 570px;
}

.carousel-indicators {
    display: none;
}

.carousel-inner {
    background-image: url(../../../public/img-background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 90%;
    width: 80%;
    height: 100%;
}

.carousel-box {
    width: 65%;
    height: 65%;
}

.carousel-item {
    margin-top: 27%;
    margin-left: 16.5%;
    width: 65%;
    height: 200px;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
}


@media (max-width: 992px) {

     .detail-left {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .detail-page .row {
        display: flex;
        flex-direction: column;
    }

    .detail-left {
        height: 300px;
    }

    .detail-right {
        width: 100%;
    }

    .description-box {
        margin-bottom: 10%;
    }
}

@media (max-width: 576px) {
    .detail-page .row {
        display: flex;
        flex-direction: column;
    }
    .detail-left {
        height: 200px;
    }

    @media (max-width: 576px) {
        .carousel-control-next, .carousel-control-prev {
            display: none;
        }
    }
}