.shop-container {
    border: 2px solid red;
}

.category-box {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-card {
    border: 2px solid orange;
}

.category-card h3 {
    font-family: "Kristi", cursive;
    font-size: 40px;
}