.shop-container {
    border: 2px solid red;
}

.category-box {
    border: 2px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-card {
    border: 2px solid orange;
    width: 35%;
    margin: 2%;
}

.category-card h3 {
    font-family: "Viaoda Libre", serif;
    font-size: 35px;
}