* {
    margin: 0%;
    padding: 0%;
}

.footer {
    background-color: rgb(2, 0, 36);
    padding: 2px 0px;
    /* position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%; */
}

.footer p, .footer a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.footer img {
    width: 40px;
}