a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a h2 {
    font-size: 50px;
    font-family: "Kristi", cursive;
}

.bg-body-tertiary {
    background-color: rgb(11, 0, 34) !important;
}