a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a h2 {
    font-size: 40px;
    font-family: "Viaoda Libre", serif;
    color: white;
}

p {
    font-family: "Viaoda Libre", serif;
    font-size: 22px;
    color: white;
}

.bg-body-tertiary {
    background-color: rgb(2, 0, 36) !important;
}

.navbar-text span {
    font-size: 15px;
    margin-left: 15px;
}