a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a h2, h2 {
    font-size: 30px;
    font-family: "Viaoda Libre", serif;
    color: white;
}

p {
    font-family: "Viaoda Libre", serif;
    font-size: 22px;
    color: white;
}

.bg-body-tertiary {
    background-color: rgb(2, 0, 36) !important;
    padding-top: 20px !important;
}

.header-box {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.navbar, .navbar-expand, .navbar-light {
    padding: 0px;
}

.navbar-text span {
    font-size: 15px;
    margin-left: 15px;
}